#intro {
	background: url(../images/Intro.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #000;
	width: auto;
}

#intro_text_content {
	position: relative;
	top: 400px;
}

#intro_text {
	color: #eff1f4;
	font-size: 24px;
	font-family: "Geogrotesque-RegularIt";
}

#evo_intro {
	font-family: "Geogrotesque-MediumIt";
}

#caracteristicas {
	background: url(../images/caracteristicas/Caracteristicas.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
	width: auto;
}

#caracteristicas_col_izq {
	width: 200px;
	float: right;
	margin: 0 20px;
	position: relative;
	top: 470px;
}

#caracteristicas_col_der {
	width: 200px;
	float: right;
	margin: 0 20px;
	position: relative;
	top: 470px;
}

.caracteristics_text span {
	font-family: "Geogrotesque-SemiboldIt";
	color: #4f4f4f;
	font-size: 24px;
}

.caracteristics_text {
	font-family: "Geogrotesque";
	color: #4f4f4f;
	font-size: 18px;
}

#image_break {
	background: url(../images/Break.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
    background-attachment: fixed;
	width: auto;
	height: 770px;
}

#elige_potencia {
	background: url(../images/potencia/Elige_Potencia.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
	width: auto;
}

#linea {
	position: relative;
	top: 230px;
	left: 0px;
}

#titulo_elige img{
	position: relative;
    top: -90px;
    right: -350px;
}

#potencia_text {
	position: relative;
	top: -30px;
	right: -410px;
	font-family: "Geogrotesque";
	font-size: 24px;
	color: #4f4f4f;
}

#potencia_text span {
	font-family: "Geogrotesque-Semibold";
	font-size: 24px;
	color: #4f4f4f;
}

#embajadores_content {
	background-color: #000000;
	height: auto;
}

.embajador {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	padding: 20px 14px;
	position: relative;
	font-family: "Geogrotesque-Medium";
	font-size: 18px;
}

#toure {
	color: #b9d83c;
}

#benedetto {
	color: #9cc161;
}

#peralta {
	color: #97c27a;
}

#giroud {
	color: #6fb6af;
}

#balotelli {
	color: #6faecb;
}

#titulo {
    color: #4f4f4f;
    font-family: "Geogrotesque";
    font-size: 24px;
    position: relative;
    top: 7px;
    display: inline-block;
    float: left;
    margin: 0px 15px;
}
#titulo_embajadores {
    width: 100%;
    height: 40px;
}
.linea_titulo {
    border-bottom: solid #4f4f4f 2px;
    width: 359px;
    float: left;
    display: inline-block;
}
#linea_izq {
    position: relative;
    top: 20px;
}
#linea_der {
    position: relative;
    top: 20px;
}
#cesc {
	background: url(../images/cesc/Cesc.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
	width: auto;
}

#cesc_text {
	position: relative;
	top: 200px;
	color: #4f4f4f;
	font-family: "Geogrotesque";
	font-size: 24px;
	text-align: right;
	width: 500px;
}

#cesc_text span {
	color: #4f4f4f;
	font-family: "Geogrotesque-Bold";
	font-size: 22px;
}

#open {
	position: relative;
	top: -114px;
	left: 50px;
}

#close {
	position: relative;
	top: 40px;
	left: 500px;
}

#zapatos {
	background-color: #000000;
	width: auto;
}

#title_puma {
	position: relative;
	top: 200px;
	width: 458px;
	margin: auto;
}

#img_zapatos {
	position: relative;
	top: 400px;
}
.indpeht_section{
	overflow: hidden;
	height: 1008px;
}
.indpeth_inner{
	position: relative;
	width: 900px;
	height: 100%;
	margin: auto;
}

@media(max-width: 900px) {
	
.indpeth_inner {
	position: relative;
	width: 700px;
	height: 100%;
	margin: auto;
}

#intro_text {
    color: #eff1f4;
    font-size: 20px;
    font-family: "Geogrotesque-RegularIt";
}

#caracteristicas {
    background: url(../images/caracteristicas/Caracteristicas.jpg) no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: #000;
    width: auto;
}

.caracteristics_text {
    font-family: "Geogrotesque";
    color: #4f4f4f;
    font-size: 14px;
}

#image_break {
	height: 550px;
    background-attachment: scroll;
}
#elige_potencia {
    background: url(../images/potencia/Elige_Potencia.jpg) no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: #000;
    width: auto;
    height: 580px;
}

#potencia_text {
    position: relative;
    top: -60px;
    left: 330px;
    font-family: "Geogrotesque";
    font-size: 18px;
    color: #4f4f4f;
}

#titulo_elige img {
	position: relative;
    top: -80px;
    left: 275px;
    width: 400px;
    height: 160px;
}

#linea {
	position: relative;
    top: 130px;
    left: 0px;
    height: 170px;
    width: 245px;
}

#linea_izq {
    position: relative;
    top: 20px;
    width: 272px;
}

#linea_der {
    position: relative;
    top: 20px;
    width: 272px;
}

#titulo {
    color: #4f4f4f;
    font-family: "Geogrotesque";
    font-size: 20px;
    position: relative;
    top: 9px;
    display: inline-block;
    float: left;
    margin: 0px 15px;
}

.embajador {
    text-align: center;
    color: #ffffff;
    display: inline-block;
    padding: 20px 14px;
    position: relative;
    left: 85px;
    font-family: "Geogrotesque-Medium";
    font-size: 18px;
}

#giroud {
    color: #6fb6af;
    position: relative;
    left: 165px;
}

#balotelli {
    color: #6faecb;
    position: relative;
    left: 175px;
}

#cesc {
    background: url(../images/cesc/Cesc.jpg) no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-color: #000;
    width: auto;
}
#potencia_text span {
    font-family: "Geogrotesque-Semibold";
    font-size: 22px;
    color: #4f4f4f;
 }

 #cesc_text {
    position: relative;
    top: 200px;
    left: 130px;
    color: #4f4f4f;
    font-family: "Geogrotesque";
    font-size: 22px;
    text-align: right;
    width: 500px;
}

#open {
    position: relative;
    top: -87px;
    left: 225px;
}

#open img {
	width: 50px;
	height: auto;
}

#close img {
	width: 50px;
	height: auto;
}

#close {
    position: relative;
    top: 58px;
    left: 633px;
}

#img_zapatos {
    position: relative;
    top: 400px;
}

#zapatos .indpeth_inner{
	position: relative;
    width: 700px;
    height: 100%;
    margin: auto;
}

#img_zapatos img {
	width: 100%;
	height: auto;
}
}

@media(max-width: 700px) {
	.indpeth_inner {
    position: relative;
    width: 500px;
    height: 100%;
    margin: auto;
}

#titulo_elige img {
    position: relative;
    top: -60px;
    left: 160px;
    width: 370px;
    height: 140px;
}

#potencia_text span {
    font-family: "Geogrotesque-Semibold";
    font-size: 20px;
    color: #4f4f4f;
}

#potencia_text {
    position: relative;
    top: -40px;
    left: -10px;
    font-family: "Geogrotesque";
    font-size: 16px;
    color: #4f4f4f;
    text-align: right;
 }

#linea_izq {
    position: relative;
    top: 20px;
    width: 172px;
}

#linea_der {
    position: relative;
    top: 20px;
    width: 172px;
}

.embajador {
    text-align: center;
    color: #ffffff;
    display: inline-block;
    padding: 20px 8px;
    position: relative;
    left: 0px;
    font-family: "Geogrotesque-Medium";
    font-size: 18px;
}

#giroud {
    color: #6fb6af;
    position: relative;
    left: 75px;
}

#balotelli {
    color: #6faecb;
    position: relative;
    left: 85px;
}

#cesc {
    background: url(../images/cesc/Cesc.jpg) no-repeat;
    background-size: auto 85%;
    background-position: right;
    background-color: #000;
    width: auto;
}
#cesc_text span {
    color: #4f4f4f;
    font-family: "Geogrotesque-Bold";
    font-size: 20px;
}

#open {
    position: relative;
    top: -50px;
    left: 126px;
}

#open img {
    width: 45px;
    height: auto;
}

#close img {
    width: 45px;
    height: auto;
}

#cesc_text {
    position: relative;
    top: 200px;
    left: -20px;
    color: #4f4f4f;
    font-family: "Geogrotesque";
    font-size: 19px;
    text-align: right;
    width: 500px;
}

#close {
    position: relative;
    top: 73px;
    left: 480px;
}

#title_puma {
    position: relative;
    width: 100%;
    margin: auto;
    top: 0px;
    text-align: center;
}

#img_zapatos img {
    width: 100%;
    height: auto;
}

#img_zapatos {
    position: relative;
    top: 50px;
}

#zapatos.indpeht_section {
	height: 650px;
}

#zapatos .indpeth_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 0px;
}
}

@media(max-width: 500px) {
    #intro_text {
        color: #eff1f4;
        font-size: 16px;
        font-family: "Geogrotesque-RegularIt";
    }

    #intro.indpeht_section {
        overflow: hidden;
        height: 720px;
    }

    #intro_text_content {
        position: relative;
        top: 300px;
    }

    .indpeth_inner {
        position: relative;
        width: 300px;
        height: 100%;
        margin: auto;
    }

    #caracteristicas_col_izq {
        width: 200px;
        float: right;
        margin: 0 0px;
        position: relative;
        top: 290px;
    }

    #caracteristicas_col_der {
        width: 200px;
        float: right;
        margin: 0 0px;
        position: relative;
        top: 290px;
    }

    #image_break {
        height: 550px;
    }

    #caracteristicas {
        background: url(../images/caracteristicas/Caracteristicas.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #000;
        width: auto;
        overflow: hidden;
        height: 733px;
    }

    #caracteristicas .indpeth_inner {
        position: relative;
        width: 400px;
        height: 100%;
        margin: auto;
    }

    .caracteristics_text span {
        font-family: "Geogrotesque-SemiboldIt";
        color: #4f4f4f;
        font-size: 19px;
    }

    #image_break {
        height: 400px;
    }

    #elige_potencia {
        background: url(../images/potencia/Elige_Potencia.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #000;
        width: auto;
        height: 350px;
    }

    #linea {
        position: relative;
        top: 75px;
        left: 0px;
        height: 100px;
        width: 160px;
    }

    #titulo_elige img {
        position: relative;
        top: -60px;
        left: 145px;
        width: 270px;
        height: 100px;
    }

    #titulo_elige img {
        position: relative;
        top: -60px;
        left: 75px;
        width: 270px;
        height: 100px;
    }

    #potencia_text {
        position: relative;
        top: -45px;
        left: 45px;
        font-family: "Geogrotesque";
        font-size: 12px;
        color: #4f4f4f;
    }

    #potencia_text span {
        font-family: "Geogrotesque-Semibold";
        font-size: 16px;
        color: #4f4f4f;
    }

    .embajador img {
    	width: 100px;
    	height: auto;
    }

    #embajadores_content .indpeth_inner {
        position: relative;
        width: 380px;
        height: 100%;
        margin: auto;
    }

    #giroud {
        color: #6fb6af;
        position: relative;
        left: 62px;
    }

    #balotelli {
        color: #6faecb;
        position: relative;
        left: 77px;
    }

    #titulo {
        color: #4f4f4f;
        font-family: "Geogrotesque";
        font-size: 16px;
        position: relative;
        top: 13px;
        display: inline-block;
        float: left;
        margin: 0px 15px;
    }

    #linea_der {
        position: relative;
        top: 20px;
        width: 124px;
    }

    #linea_izq {
        position: relative;
        top: 20px;
        width: 124px;
    }

    #cesc {
        background: url(../images/cesc/Cesc.jpg) no-repeat;
        background-size: auto 85%;
        background-position: right;
        background-color: #000;
        width: auto;
        height: 730px;
    }
    #cesc_text span {
        color: #4f4f4f;
        font-family: "Geogrotesque-Bold";
        font-size: 18px;
    }

    #cesc_text {
        position: relative;
        top: 180px;
        left: 50px;
        color: #4f4f4f;
        font-family: "Geogrotesque";
        font-size: 14px;
        text-align: right;
        width: 270px;
    }

    #open {
        position: relative;
        top: -18px;
        left: 50px;
    }

    #close {
        position: relative;
        top: 75px;
        left: 315px;
    }

    #open img {
        width: 35px;
        height: auto;
    }

    #close img {
        width: 35px;
        height: auto;
    }

    #title_puma img {
    	width: 320px;
        height: 60px;
    }

    #title_puma {
        position: relative;
        width: 458px;
        margin: auto;
        top: 0px;
        text-align: center;
    }

    #img_zapatos img {
        width: 100%;
        height: auto;
    }

    #zapatos.indpeht_section {
        height: 450px;
    }
}

@media(max-width: 400px) {
    #intro.indpeht_section {
        overflow: hidden;
        height: 500px;
    }

    .indpeth_inner {
        position: relative;
        width: 300px;
        height: 100%;
        margin: auto;
    }

    #intro_text_content {
        position: relative;
        top: 200px;
    }

    #intro_text {
        color: #eff1f4;
        font-size: 12px;
        font-family: "Geogrotesque-RegularIt";
    }

    #caracteristicas {
        background: url(../images/caracteristicas/Caracteristicas.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #000;
        width: auto;
        overflow: hidden;
        height: 513px;
    }

    #caracteristicas .indpeth_inner {
        position: relative;
        width: 390px;
        height: 100%;
        margin: auto;
        margin-left: 40px;
    }

    #caracteristicas_col_der img {
    	width: 60px;
    	height: auto;
    }

    #caracteristicas_col_der {
        width: 200px;
        float: right;
        margin: 0 0px;
        position: relative;
        top: 180px;
        left: -57px;
    }

    .caracteristics_text span {
        font-family: "Geogrotesque-SemiboldIt";
        color: #4f4f4f;
        font-size: 13px;
    }

    .caracteristics_text {
        font-family: "Geogrotesque";
        color: #4f4f4f;
        font-size: 10px;
    }

    #caracteristicas_col_izq img {
    	width: 60px;
    	height: auto;
    }

    #caracteristicas_col_izq {
        width: 115px;
        float: right;
        margin: 0 0px;
        position: relative;
        top: 180px;
        left: -57px;
    }

    #image_break {
        height: 250px;
    }

    #elige_potencia {
        background: url(../images/potencia/Elige_Potencia.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #000;
        width: auto;
        height: 250px;
    }
    #linea {
        position: relative;
        top: 68px;
        left: 55px;
        height: 80px;
        width: 90px;
    }

    #titulo_elige img {
        position: relative;
        top: -55px;
        left: 150px;
        width: 170px;
        height: 65px;
    }

    #potencia_text {
        position: relative;
        top: -35px;
        left: 12px;
        font-family: "Geogrotesque";
        font-size: 8px;
        color: #4f4f4f;
    }

    #potencia_text span {
        font-family: "Geogrotesque-Semibold";
        font-size: 12px;
        color: #4f4f4f;
    }

    #embajadores_content .indpeth_inner {
        position: relative;
        width: 260px;
        height: 100%;
        margin: auto;
    }

    #linea_izq {
        position: relative;
        top: 20px;
        width: 70px;
    }

    #titulo {
        color: #4f4f4f;
        font-family: "Geogrotesque";
        font-size: 14px;
        position: relative;
        top: 13px;
        display: inline-block;
        float: left;
        margin: 0px 15px;
    }

    #linea_der {
        position: relative;
        top: 20px;
        width: 70px;
    }

    .embajador {
        text-align: center;
        color: #ffffff;
        display: inline-block;
        padding: 5px 8px;
        position: relative;
        left: 0px;
        font-family: "Geogrotesque-Medium";
        font-size: 14px;
    }

    #benedetto {
    	padding-left: 32px;
    }

    #giroud {
        color: #6fb6af;
        position: relative;
        left: 21px;
    }

    #balotelli {
        color: #6faecb;
        position: relative;
        left: 65px;
    }

    #cesc {
        background: url(../images/cesc/Cesc.jpg) no-repeat;
        background-size: auto 85%;
        background-position: right;
        background-color: #000;
        width: auto;
        height: 465px;
    }

    #open img {
        width: 20px;
        height: auto;
    }

    #close img {
        width: 20px;
        height: auto;
    }

    #cesc_text {
        position: relative;
        top: 65px;
        left: 30px;
        color: #4f4f4f;
        font-family: "Geogrotesque";
        font-size: 9px;
        text-align: right;
        width: 270px;
    }

    #open {
        position: relative;
        top: -63px;
        left: 130px;
    }

    #close {
        position: relative;
        top: -8px;
        left: 300px;
    }
    #title_puma {
        position: relative;
        width: 210px;
        margin: auto;
        top: 0px;
        margin-left: 60px;
    }

    #img_zapatos img {
        width: 315px;
        height: auto;
    }

    #zapatos.indpeht_section {
        height: 300px;
    }

    #title_puma img {
        width: 210px;
        height: 40px;
    }
}
