#intro {
	background: url(../images/intro.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
}

#intro_text_content {
	position: relative;
	top: 400px;
	left: 400px;
}

#intro_text {
	color: #eff1f4;
	font-size: 24px;
	font-family: "Geogrotesque-RegularIt";
}

#evo_intro {
	font-family: "Geogrotesque-MediumIt";
}

#caracteristicas {
	background: url(../images/caracteristicas/Caracteristicas.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
}

#caracteristicas_col_izq {
	width: 200px;
	float: left;
	margin: 0 20px;
	position: relative;
	left: 950px;
	top: 470px;
}

#caracteristicas_col_der {
	width: 450px;
	float: left;
	margin: 0 20px;
	position: relative;
	left: 960px;
	top: 470px;
}

.caracteristics_text span {
	font-family: "Geogrotesque-SemiboldIt";
	color: #4f4f4f;
	font-size: 24px;
}

.caracteristics_text {
	font-family: "Geogrotesque";
	color: #4f4f4f;
	font-size: 18px;
}

#image_break {
	background: url(../images/Break.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
}

#elige_potencia {
	background: url(../images/potencia/Elige_Potencia.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
}

#elige_potencia img {
	position: relative;
	top: 230px;
	left: 500px;
}

#titulo_elige {
	position: relative;
	top: -320px;
	right: -370px;
}

#potencia_text {
	position: relative;
	top: -30px;
	right: -900px;
	font-family: "Geogrotesque";
	font-size: 24px;
	color: #4f4f4f;
}

#potencia_text span {
	font-family: "Geogrotesque-Semibold";
	font-size: 24px;
	color: #4f4f4f;
}

#embajadores_content {
	background-color: #000000;
}

.embajador {
	text-align: center;
	color: #ffffff;
	display: inline-block;
	padding: 20px;
	position: relative;
	left: 450px;
	font-family: "Geogrotesque-Medium";
	font-size: 18px;
}

#toure {
	color: #b9d83c;
}

#benedetto {
	color: #9cc161;
}

#peralta {
	color: #97c27a;
}

#giroud {
	color: #6fb6af;
}

#balotelli {
	color: #6faecb;
}

#titulo {
	color: #4f4f4f;
	font-family: "Geogrotesque";
	font-size: 24px;
	position: relative;
	top: 7px;
	left: 855px;
}

.linea_titulo {
	border-bottom:  solid #4f4f4f 2px;
	width: 360px;
}

#linea_izq {
	position: relative;
	left: 480px;
	top: 20px;
}

#linea_der {
	position: relative;
	left: 1020px;
	top: -10px;
}

#cesc {
	background: url(../images/cesc/cesc.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
}